{% extends "layout.html.twig" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>

    {% for message in app.session.getFlashBag.get('success') %}
        <div class="alert alert-success" >
            <button class="close" data-dismiss="alert">×</button>
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-striped">
        <th>#</th>
        <th>Description</th>
        <th colspan="2"></th>
        {% for todo in todos %}
            <tr class="{{ todo.completed ? 'completed' : '' }}">
                <td>{{ todo.id }}</td>
                <td class="description">
                    <a href="{{ app.request.baseurl }}/todos/{{ todo.id }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td class="actions">
                    {% include 'actions.html.twig' with {'todo': todo} only %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todos/add">
                <td colspan="2">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td class="actions">
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}
